{{ "<!-- Header -->" | safeHTML }}
    <header id="header" class="alt">
        <a href="{{ .Site.BaseURL }}" class="logo">{{ if .Site.Params.Navigation.logo }}<img src="{{ .Site.Params.baseURL }}/img/{{ .Site.Params.Navigation.logo }}" alt="" />{{ else }}<strong>{{ .Site.Params.Navigation.title }}</strong> <span>{{ .Site.Params.Navigation.subtitle }}</span>{{ end }}</a>
        {{ if .IsTranslated }}
             <nav class="LangNav">
             {{ range .Translations }}
             	<a href="{{ .RelPermalink }}">{{ .Language.LanguageName }}</a>
             {{ end }}
             </nav>
       {{ end }}
        <nav>
            <a href="#menu">{{ .Site.Params.Navigation.menu }}</a>
        </nav>
    </header>

{{ "<!-- Menu -->" | safeHTML }}
    <nav id="menu">
        <ul class="actions vertical">
            {{ range .Site.Params.Navigation.button1 }}
                <li><a href="{{ .url | absURL}}" class="button special fit">{{ .name }}</a></li>
            {{ end }}
            {{ range .Site.Params.Navigation.button2 }}
                <li><a href="{{ .url | absURL}}" class="button fit">{{ .name }}</a></li>
            {{ end }}
        </ul>
        <ul class="links">
            {{ range .Site.Params.Navigation.links }}
                <li><a href="{{ .url | absURL}}">{{ .name }}</a></li>
            {{ end }}

        </ul>
    </nav>
