{{ "<!-- Header -->" | safeHTML }}
    <section id="one" class="tiles">
        {{ range .Site.Params.Tiles.showcase }}
        <article>
            <span class="image">
                <img src="/img/{{ .image }}" alt="" />
            </span>
            <header class="major">
                <h3><a href="{{ .url | absURL }}" class="link">{{ .title }}</a></h3>
                <p>{{ .subtitle }}</p>
            </header>
        </article>
        {{ end }}
    </section>
